.conversation-list {
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.6);
    border: 1px solid rgb(33, 33, 33);
    color: white;
}

.conversation-header-and-modal-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.conversation-container {
    color: white;
    width: 100%;
    padding: 10px;
}

.conversation-container:hover {
    background-color: rgba(225, 225, 225);
}

.conversation-title {
    font-size: 16px;
    font-weight: 600;
}

.new-message {
    font-weight: 800;
    font-size: 18px;
}