.auth-input-container {
    margin: 0 0 20px 10px;
}

.auth-label {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.auth-text-input {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
}