/* .card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 400px;
    width: 400px;
    
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .titles{
    padding-top:15px;
    margin-bottom: 30px;
    text-align: center;
  } */