.curr-conversation-container {
    height: 90%;
}

.message-list-container {
    width: 100%;
    height: 87.5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}