.accountCard{
    color: gray;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 400px;
    width: 400px;
    overflow: scroll;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;


}