.footer {
  min-height: 60px;
  background: #B8B8B8;
  /* text-align: center; */
  /* margin-top: 500px; */
  /* position: relative; */
  
}
/* .footer span{
 position:"relative";
} */
/* .footer span {
  padding: 3px;
  background: #B8B8B8;
  min-height: 30px;
  /* margin-top: 500px; */

