.billsTable{
    /* background-color: white; */
    color: rgb(15, 15, 15);
}



@media only screen and (min-width: 426px) {
    .billsTable{
        width: 90%;
        margin: 0 auto;
        /* background-color: #d1d1d1; */
        color: rgb(15, 15, 15);
    }
}