.auth-form {
    color: rgba(12, 73, 153, 0.849);
    width: 20%;
    padding: 20px;
    background-color: rgba(230, 230, 230, 0.87);
    border-radius: 7.5px;
    margin: 30px 30px 0 30px ;
    border: none;
}

.auth-header {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 30px 0;
}

.auth-checkbox {
    margin-left: 10px;
}

.auth-checkbox-label {
    margin-left: 5px;
}

.auth-submit-button {
    display: block;
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    font-size: 16px;
    color: rgba(12, 73, 153, 0.849);
    margin: 50px 0 0 10px;
}