.day-of-week-container {
    text-align: center;
}

.day-of-week-display {
    font-size: 14px;
    font-weight: 400;
}

.date-of-week-display {
    font-size: 12px;
    font-weight: 600;
}

.curr-day {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #028090;
    color: white;
}